body {
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	background-color: #404040;
	color: #FFFFFF;
	font-family: verdana;
	font-size: 16px;
}

body {
	background-image: linear-gradient(to bottom, #222222 0%, #444444 50%, #222222 100%);
}

.block-gradient {
	background-image: linear-gradient(to bottom, #000000 -95%, #4E8C49 50%, #000000 195%);
}


.title {
	margin: 12px 0px;
	border: 3px solid black;
	border-radius: 4px;
	background-color: rgb(78, 140, 73);
	
	font-size: 18px;
	padding-right: 22px;
	font-family: verdana;
	font-weight: bold;
	text-align: right;
}

.main-div {
	width: 980px;
	height: 580px;
	line-height: 33px;
	margin: 0px auto;
}

.calc-frame {
	margin: 12px 0px;
	border: 3px solid black;
	border-radius: 4px;
	background-color: rgb(78, 140, 73);

	padding: 10px 30px;
}
div.calc-frame label {
	text-align: left;
	width: 210px;
	float: left;
}

div.calc-frame input.field {
	float: left;
	text-align: right;
	margin: 6px 7px 0px;
	width: 80px;
	padding-right: 1px;
}

div.calc-frame span.unit {
	text-align: left;
	float: left;
}

div.calc-frame .left { 
	position: relative; 
	float: left;
}
div.calc-frame .middle { 
	position: relative; 
	float: left;
	left: 51px;
}
div.calc-frame .right {
	position: relative;
	float: right;
	width: 290px;
}

.calc-frame .button {
	background-image: linear-gradient(#ff1d1b, #cd0200 50%, #b90200);
	border: 1px solid #9a0200;
	background-color: #cd0200;
	border-radius: 4px;
	
	padding: 12px 18px;
	text-decoration: none;
	font-size: 15px;
	font-weight: bold;
	color: white;
    font-family: verdana;	
}

.calc-frame .button:hover {
	background-image: linear-gradient(#ff0906, #b90200 50%, #a40200);
	border: 1px solid #860100;
	background-color: #9a0200;
}

.calc-frame .button:active {
	background-image: none;
	background-color: #9a0200;
    border-color: #900100;
}

.calc-frame .annuity {
	position: relative;
	left: 40px;
	font-weight: bold;
	color: #FFFF00;
}


div.graph-frame {
	margin: 12px 0px;
	border: 3px solid black;
	border-radius: 4px;
	background-color: rgb(78, 140, 73);
	height: 360px;
}
